@import 'variables';
@font-face {
  font-family: 'inter';
  src: url('~@/assets/Inter.var.woff2') format('woff2');
}

@font-face {
  font-family: 'le murmure';
  src: url('~@/assets/Le_Murmure.woff2') format('woff2');
}


.outline-font {
  color: $rose-gold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $rose-gold;
  font-family: 'le murmure';

  &.black {
    color: black;
    -webkit-text-stroke-color: black;
  }

}