@import 'variables';
@font-face {
  font-family: 'le murmure';
  src: url('~@/assets/Le_Murmure.woff2') format('woff2');
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.outline-font {
  color: $rose-gold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $rose-gold;
  font-family: 'le murmure';

  &.black {
    color: black;
    -webkit-text-stroke-color: black;
  }
}

.heading {
  margin-bottom: 3rem;
  font-size: 12rem;
}

.social-links {
  a {
    margin: 0 .75rem;
  }
  :first-child {
    margin-left: 0;
  }
  .logo {
    height: 2rem;
    fill: white;
  }
}

.link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.rosegold {
    color: $rose-gold;
  }
}