$rose-gold: #BD5854;

$breakpoint-xs: 0;
$breakpoin-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

.outline-font {
  color: $rose-gold;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $rose-gold;
  font-family: 'le murmure';

}