@font-face {
    font-family: 'inter';
    src: url('../assets/Inter.var.woff2') format('woff2')
}

@font-face {
    font-family: 'le murmure';
    src: url('../assets/Le_Murmure.woff2') format('woff2')
}